.header {
    display: flex;
    align-items: center;
    gap: 1rem; /* 16px */
    margin-bottom: 2rem; /* 32px */
}

.title {
    font-family: 'Nunito', sans-serif;
    font-size: 3rem; /* 48px */
    line-height: 3.5rem; /* 56px */
    font-weight: 800; /* Extra-bold */
    color: #374151; /* text-gray-700 */
}