.event-image-container {
  /* Esto hace que el contenedor ocupe todo el ancho de la columna */
  width: 100%;
  height: 400px;
  overflow: hidden; /* Muy importante para que la imagen no se salga del contenedor redondeado */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.event-image {
  /* Hacemos que la etiqueta <img> ocupe todo el espacio de su contenedor */
  width: 100%;
  height: 100%;
}
